<div class="hearts-layer" aria-hidden="true">
  <span class="heart heart-1">❤</span>
  <span class="heart heart-2">❤</span>
  <span class="heart heart-3">❤</span>
  <span class="heart heart-4">❤</span>
  <span class="heart heart-5">❤</span>
  <span class="heart heart-6">❤</span>
  <span class="heart heart-7">❤</span>
  <span class="heart heart-8">❤</span>
  <span class="heart heart-9">❤</span>
  <span class="heart heart-10">❤</span>
  <span class="heart heart-11">❤</span>
  <span class="heart heart-12">❤</span>
  <span class="heart heart-13">❤</span>
  <span class="heart heart-14">❤</span>
  <span class="heart heart-15">❤</span>
  <span class="heart heart-16">❤</span>
  <span class="heart heart-17">❤</span>
  <span class="heart heart-18">❤</span>

  <img
    class="avocado-couple avocado-top-left"
    src="assets/illustrations/avocado-couple-heart.png"
    alt=""
  />
  <img
    class="avocado-couple avocado-top-right"
    src="assets/illustrations/avocado-couple-heart.png"
    alt=""
  />
  <img
    class="avocado-couple avocado-bottom-left"
    src="assets/illustrations/avocado-couple-heart.png"
    alt=""
  />
  <img
    class="avocado-couple avocado-bottom-right"
    src="assets/illustrations/avocado-couple-heart.png"
    alt=""
  />
</div>
